<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    PRAWn
  </a>
</nav> -->
<!-- <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-6">
			<a href="/prawn.xpi" style="text-align: center;" download>© 2018 PRAWn</a>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
