<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    PRAWn
  </a>
</nav> -->
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<p style="text-align: center;">© 2018 PRAWn</p>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

