body {
	max-width: 500px;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.header,
#show-button {
	text-align: center;
}

.nav-link {
	color: rgb(230, 85, 44);
}

.nav-link:hover {
	color: rgba(230, 85, 44, 0.75);
}

.nav-pills >.active {
	background-color: rgb(230, 85, 44);
	color: red;
}

.btn-dark {
	border-color: rgb(230, 85, 44);
	background-color: rgb(230, 85, 44);
}

.btn-dark:hover {
	border-color: rgba(230, 85, 44, 0.75);
	background-color: rgba(230, 85, 44, 0.75);
}