<!-- <div class="row d-flex align-items-end flex-column">
	<button type="button" class="btn btn-outline-secondary"  (click)="logoutFunc()">Log Out</button>
</div> -->

<div class="row">
	<div class="col-sm-6">
		<h3 style="display: inline;">Hi, <b>{{ username }}</b>!</h3> 
		<button type="button" class="btn btn-link" (click)="loginFunc()">Not {{ username }}? Log out.</button>
		<h3>Please follow these instructions:</h3>
		<p>There will be <b>one or more targets</b> per article. Please label the comments according to the target shown.</p>
		<ul style="list-style-type:square">
		  <li>Click the <b>'In Favor'</b> button if you can infer from the comment that the commenter <b>supports or has a positive stance</b> towards the target.</li>
		  <br>
		  <li>Click the <b>'Against'</b> button if you can infer from the comment that the commenter <b>is against or has a negative stance</b> towards the target.</li>
		  <br>
		  <li>Click the <b>'None'</b> button if you can infer from the comment that the commenter has a <b>neutral stance</b> towards the target or if the comment is <b>not related</b> to the target.</li>
		</ul>
	</div>

	<div class="col-sm-6">
		<form>
			<div class="form-group">
				<label for="title">Reddit Article:</label>
				<p>
					<b>{{ title }}</b>
					<br>
					<i>Link: <a href="{{ url }}">{{ url }}</a></i>
				</p>
			</div>
			<div class="form-group">
				<label for="target">Target {{ targetCount + 1 }}:</label>
				<h1><b>{{ target }}</b></h1>
			</div>
			<div class="form-group">
				<label for="comment">Comment:</label>
				<textarea class="form-control" id="comment" rows="5" readonly>{{ comment }}</textarea>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<button type="button" class="btn btn-success btn-block"  (click)="getLabel('favor')">In Favor</button>
					<button type="button" class="btn btn-warning btn-block" (click)="getLabel('against')">Against</button>
					<button type="button" class="btn btn-secondary btn-block" (click)="getLabel('none')">None</button>
				</div>
				<div class="col-sm-5">
					<div class="card">
					  <div class="card-body text-center">
					  	<!-- get count of labeled comments -->
					  	<h3>{{ count }}</h3>
					  	<span>comments labeled in total</span>
					  </div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

