<div class="row">
	<div class="col-6">
		<div class="jumbotron text-right">
	    <h1>Welcome to PRAWn</h1>
	    <h2>Reddit Comments Labeler</h2>
	    <h4>by Al, Gab, and Kingsley</h4>
	  </div>
	</div>
	<div class="col-6">
		<h2>Log In</h2>
		<form>
		  <div class="form-group">
		      <label for="username">Username</label>
		      <input type="text" class="form-control" id="username" [(ngModel)]="credentials.username" name="username" placeholder="Enter your username">
		  </div>
		  <div class="form-group">
		      <label for="password">Password</label>
		      <input type="password" class="form-control" id="password" [(ngModel)]="credentials.password" name="password" placeholder="Enter your password">
		  </div>
		</form>
		<button class="btn btn-primary" (click)="loginFunc(credentials)">Log in</button>
	</div>
</div>


